/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import "tailwindcss";

@theme{
   
    --font-mystery: "Mystery Quest", cursive;
    
}
*{
    box-sizing:border-box;
}
body{
    margin: 10px;
}